<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wickedsword.retar.cincitourguide">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:configChanges="keyboardHidden|orientation"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubcategoryActivity"
            android:label="@string/main_category_things_to_do"
            android:parentActivityName=".SubcategoryActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubcategoryActivity"/>
        </activity>
        <activity
            android:name=".CityLocationActivitiesActivity"
            android:label="@string/main_category_things_to_do"
            android:parentActivityName=".SubcategoryActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubcategoryActivity"/>
        </activity>
        <activity
            android:name=".CityDetailsActivity"
            android:label="@string/main_category_things_to_do"
            android:parentActivityName=".SubcategoryActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubcategoryActivity"/>
        </activity>
    </application>

</manifest>